@keyframes colorChange {
  0% {
    color: red;
  }
  20% {
    color: blue;
  }
  40% {
    color: green;
  }
  60% {
    color: yellow;
  }
  80% {
    color: purple;
  }
  100% {
    color: orange;
  }
}

.animated-text {
  animation-name: colorChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.congrats-text {
  position: absolute;
  inset: 0;
  z-index: calc(var(--dialog-zIndex) - 2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
  pointer-events: none;
}

:fullscreen .congrats-text {
  font-size: 5vw;
}

:global(svg#firework) {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: calc(var(--dialog-zIndex) - 1);
  pointer-events: none;
}

@keyframes flash {
  from {
    fill: white;
  }
}

:global(#firework circle) {
  animation-name: flash;
  animation-duration: 500ms;
  animation-play-state: running;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
