.game {
  position: relative;
  display: flex;
  flex-direction: column;

  --dialog-zIndex: 200;
  --table-zIndex: unset;
}

.game-body {
  display: flex;
  flex-direction: column;
  place-content: center;
  flex-grow: 1;
  margin: 0 3px;
}

.scoreboard {
  font-size: 1rem;
  display: grid;
  grid-template-areas:
    "a b"
    "c d";
  place-content: center;
  column-gap: 0.5ch;
  height: 95px;
  width: 200px;
  background: green;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
}

.menu button {
  border: 0;
  box-shadow: none !important;
  background: inherit;
}
