.table {
  position: relative;
  display: grid;
  height: 550px;
  max-width: 880px;
  padding: 10px 0;
  justify-items: center;

  --slots: 10;
  grid-template-columns: repeat(var(--slots), 1fr);
  grid-template-rows: 100px 1fr 100px;

  background: url("/felt.png");
}

:fullscreen .table {
  height: 100%;
  width: 100%;
  max-width: unset;
}

.table-hidden-stack {
  grid-row: 3;
  grid-column: var(--slots);
  position: relative;
  display: flex;
}

.table-hidden-decks-place {
  grid-row: 3;
  grid-column: var(--slots);
}

.table-hidden-stack > div {
  position: relative;
}

.table-removed-decks-place {
  grid-row: 3;
  grid-column: 1;
}
