.table {
  position: relative;
  display: grid;
  height: 550px;
  max-width: 880px;
  padding: 10px 0;
  justify-items: center;

  --slots: 10;
  grid-template-columns: repeat(var(--slots), 1fr);
  grid-template-rows: 100px 1fr 100px;

  background-color: #009933;
  background: url("/felt.png");
}

:fullscreen .table {
  height: 100%;
  width: 100%;
  max-width: unset;
}

.hidden-deck {
  grid-row: 3;
  grid-column: var(--slots);

  cursor: pointer;
}

.removed-deck {
  grid-row: 3;
  grid-column: 1;
}
